.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    text-decoration-color: brown;
    text-align: center;
}


.App-Div{
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    height: 100vh;
    background-color: gray;
}

.Button{
    font-size: large;
    color: brown;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
